# Default Reviewers/CodeOwners  for All code Change
* @tanisac633 @SubhajitBar  #project Admin

# Reviewer by email for html files
*.html @echo-ech0
# Reviewer by organization Team (@org Name/ @team Name)
*.txt @organization-echo/@orgechoteama/@team_b

# Reviewer by Specific Folder
/Script/js/ @SubhajitBar 

# Reviewer by Specific File
*.css @echo-ech0

# All Reviewer by Specific Folder
docs/*  @tanisac633

# Specific Type of Directory Owner:
**/logs @tanisac633


